[submodule "alfonsos-website"] 
  path = alfonsos-website 
  url = https://github.com/Hisui45/alfonsos-website.git
  [submodule "sewsewclothing"] 
  path = sewsewclothing
  url = https://github.com/Hisui45/sewsewclothing.git
