[submodule "path_to_submodule"] 
  path = alfonsos-website 
  url = git:https://github.com/Hisui45/alfonsos-website.git
  [submodule "path_to_submodule"] 
  path = sewsewclothing
  url = git:https://github.com/Hisui45/sewsewclothing.git
